*.pyc
TripitakaPlatform/datakernel/migrations/
TripitakaPlatform/jwt_auth/migrations/
TripitakaPlatform/tripitakaCollation/migrations/
TripitakaPlatform/tripitakaContents/migrations/
venv/
TripitakaPlatform/tripitakaContents/resultfile/
yarn.lock
node_modules/.yarn-integrity
*.json
*.zip
*.log
*/migrations/
*/log/
myfileserver/files/
files/
.svn/
db.sqlite3
img/
503.html
myfileserver/__init__.py
