<!DOCTYPE html>
<html>
<head>
  <title>文件上传</title>
</head>
<body>
  <h1>PDF上传</h1>
  <form id="uploadForm" enctype="multipart/form-data" method="post">
    <div style="background-color: lightblue; font-size: 16px;">       
      <input type="file" name="file">
      <input  name="tcode" value="gl">   
      <input  name="volumeorsutra" value="955_1">
      <button type="submit">提交</button>      
    </div>
  </form>


    <div style="background-color: lightblue; font-size: 16px;">
      <h2>附件上传：</h2>
      <input type="file" id="upload_attach" style="display:none">
      <button class="button" onclick="document.getElementById('upload_attach').click()">选择文件</button>
    </div>


    <h1>后端批量上传</h1>
    <form id="uploadLocalForm" enctype="multipart/form-data" method="post">
      <div style="background-color: lightblue; font-size: 16px;">  
       
        <p id="folderName">选择pdf文件夹，复制路径粘贴到input中</p>
        <input  name="pdfpath" value="e:\server-d\pdf">
        <input  name="tcode" value="gl">   
        <!-- <input  name="volumeorsutra" value="955_1"> -->
        <button type="submit">提交</button>      
      </div>
    </form>

  <script>
    const form = document.getElementById('uploadForm');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      fetch('/upload/', {
        method: 'POST',
        body: formData
      }).then(response => {
        if (response.ok) {
          alert('文件上传成功！');
        } else {
          alert('文件上传失败: ', response.statusText);
        }
      }).catch(error => {
        console.error('文件上传失败: ', error);
      });
    });


     // 监听文件选择事件
    document.getElementById('upload_attach').addEventListener('change', function(e) {
      var file = e.target.files[0];
      console.log('选中的文件:', file);
      
      const formData = new FormData(form);
      formData.append('file', file);

      fetch('/upload_attach/', {
        method: 'POST',
        body: formData
      }).then(response => {
        if (response.ok) {
          alert('文件上传成功！',response);
          console.log(response);
        } else {
          alert('文件上传失败: ', response.statusText);
        }
      }).catch(error => {
        console.error('文件上传失败: ', error);
      });

    });
  

     // 监听文件选择事件
    const form1 = document.getElementById('uploadLocalForm');
    form1.addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(form1);
      fetch('/upload_local/', {
        method: 'POST',
        body: formData
      }).then(response => {
        if (response.ok) {
          alert('文件上传成功！');
        } else {
          alert('文件上传失败1: ', response.statusText);
        }
      }).catch(error => {
        console.error('文件上传失败2: ', error);
      });
    });

  
  </script>
</body>
</html>